*{
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
  border: 2px solid blue;
  width: 231px;
  height: auto;
  flex-wrap: wrap;
  margin: 100px auto;
  box-shadow: rgb(20, 79, 206) 5px 5px 20px;
}
.name {
  text-align: center;
}
.pic-wrapper{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: khaki 2px solid;
  margin: 20px auto;
}

p{
  text-align: center;
}
ul{
  border-top: solid 1px blue;
  display: flex;
  justify-content: space-between;
  gap: 1px;
  list-style: none;
}
li{
  display: flex;
  height: 30px;
  justify-content: center;
  background-color: cadetblue;
  width: 115px;
  margin-top: 5px;
}
.cta{
  width: 150px;
  height: auto;
  background-color: rgb(8, 72, 247);
  /* display: flex; */
  /* justify-content: center; */
  margin: 20px auto;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 125%;
}
a{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align:center;
  padding-top: 5px;
  text-decoration: none;
 color: whitesmoke;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}
.introduce{
  padding: 20px;
}
.content{
  margin-top: 15px;
  padding:0 5px;
  color: rgb(77, 76, 76);
}